header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
}


h2 {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  width: 300px;
  text-align: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: row;
  justify-content: space-evenly;
  text-align: center;
  }

  li {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    justify-content: space-evenly;
  }

  .content{
    display: flex;
    border: 1px solid black;
    flex-wrap: row;
    justify-content: space-evenly;
}

  .aside {
    border: 1px solid black;
  }

  .slidebox{
    border: 1px solid black;
    width: 300px;
    text-align: center;
  }

  .article{
    display: flex;
    flex-wrap: row;
  }


.poem{
  display: flex;
  border: 1px solid black;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .article {
      display: flex;
      flex-direction: column;
  } 
header{
  display: none;
}
}

/*  Small devices    */
@media (max-width:599px) {

header,.content{
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  }


.nav > li {
  font-size: 20px;
  width: 400px;
  height: 25px;
  text-align: center;
  margin: auto;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 65px;
}


}


  
